* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #f1f1f1;
}

.bar-chart {
    width: 30vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin-left: 10vw;
}

input[type=range] {
    writing-mode: vertical-lr;
    direction: rtl;
    vertical-align: middle;
    height: 100%;
    border: #fdfdfd 2px solid;
    border-radius: .5rem;
    cursor: pointer;
}

.measurements {
    width: 30vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin-right: 10vw;
}

.measurement {
    width: 1rem;
    background-color: rgb(105,160,255);
    /* border-radius: .5rem; */
    position: absolute;
    bottom: 0;
}
.measurement-container {
  background-color: #e9e9e9;
  overflow: hidden;
  box-shadow: inset -4px 4px 8px #e2e2e2;
  height: 100%;
  width: 1rem;
  display: flex;
  justify-content: center;
  position: relative;
  border: #fdfdfd 2px solid;
  border-radius: .5rem;
}

button {
  background-color: #e9e9e9;
  box-shadow: inset -4px 4px 8px #e2e2e2;
  border: #fdfdfd 2px solid;
  color: #555;
  font-weight: 900;
  /* background-color: #777;
  box-shadow: inset -4px 4px 8px #666;
  border: #555 2px solid; 
  color: #f5f5f5;*/
  height: 3rem;
  width: 3rem;
  border-radius: 4rem;
  transition: .15s linear;
  cursor: pointer;
  /* margin-right: 5vw;
  margin-left: 5vw; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 25vh;
}

button:hover {
  box-shadow: inset 0px 4px 8px #dbdbdb;
  /* box-shadow: inset -4px 4px 8px #555; */
}

.outer-container {
  width: 100vw;
  display: flex;
  position: absolute;
  top: 72vh;
  flex-direction: column;
  align-items: end;
}

.inner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#reset {
  transition: .15s linear;
  /* margin-top: 2rem;
  margin-right: 15vw; */
}

#reset:hover {
  rotate: -15deg;
}

#collapse {
  top: calc(65vh - 3rem);
  left: calc(50vw - 2rem);
}

svg {
  height: 40%;
  fill: #555;
}

/* Base track look shared by all */
input[type='range']{
  writing-mode: vertical-lr;
  direction: rtl;
  vertical-align: middle;
  height: 100%;
  width: 1rem;
  border: #fdfdfd 2px solid;
  border-radius: .5rem;
  overflow: hidden;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: #e9e9e9;
  box-shadow: inset -4px 4px 8px #e2e2e2;
  transition: .15s linear;
}
input[type='range']:hover{
  box-shadow: inset 0 4px 8px #dbdbdb;
}

/* ---------- Chrome / Chromium / new Edge ---------- */
@media screen and (-webkit-min-device-pixel-ratio:0){
  input[type='range']::-webkit-slider-runnable-track{
    height: 0;              /* hide the track; we use the input bg */
  }
  input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 2rem;
    height: .1rem;
    border-radius: .5rem;
    background: transparent;
    /* This draws the blue fill with a rounded “cap” identical to your screenshot */
    box-shadow: 0 1000px 0 1000px rgb(105,160,255);
  }
}

/* ---------- Firefox (match Chrome look) ---------- */
input[type='range']::-moz-range-track{
  background: transparent;  /* use the input bg for the grey track */
  border: 0;
}
input[type='range']::-moz-range-progress{
  background: transparent;  /* disable Firefox’s rectangular fill */
}
input[type='range']::-moz-range-thumb{
  width: 2rem;
  height: .1rem;
  border: 0;
  border-radius: .5rem;
  background: transparent;
  box-shadow: 0 1000px 0 1000px rgb(105,160,255); /* same rounded-cap fill */
}

/* ---------- IE 10/11 & Edge (Legacy/EdgeHTML) ---------- */
input[type='range']::-ms-track{
  height: 0;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower,
input[type='range']::-ms-fill-upper{
  background: transparent; /* turn off the rectangular fills */
}
input[type='range']::-ms-thumb{
  width: 2rem;
  height: .1rem;
  border: 0;
  border-radius: .5rem;
  background: transparent;
  box-shadow: 0 1000px 0 1000px rgb(105,160,255); /* same as others */
}

/* optional: remove focus ring artifact in Firefox */
input[type='range']::-moz-focus-outer{ border: 0; }
